BODY { font-family: Tahoma;font-size:12px;padding 5px }
H1,H4 { text-align:center; }

TABLE { border: 1px solid grey;}
TH { padding : 5px; background-color:#EFEFEF; font-weight:bold }
TD { padding : 5px; border-bottom: 1px solid #EFEFEF ; text-align:center }
.tdname { text-align : left; color: blue }
FORM { margin: 0; padding: 0; clear: left; display:inline }
.file { background:#EFEFEF;border: 1px solid grey }
